%Image::ExifTool::UserDefined = (
  'Image::ExifTool::PDF::Info' => {
    WRITABLE => 'string', # (default to string-type tags)
    L4Consideration => { },
    L4ClosingDate => { },
    L4SellerName => { },
    L4BuyerName => { },
    L4 => { }, # stringification of arbitrary JSON
  },
  'Image::ExifTool::XMP::pdfx' => {
    WRITABLE => 'string', # (default to string-type tags)
    L4Consideration => { },
    L4ClosingDate => { },
    L4SellerName => { },
    L4BuyerName => { },
    L4 => { }, # stringification of arbitrary JSON
  },
    );

#------------------------------------------------------------------------------
1;  #end